.faq-instructions {
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 960px;

}
.faq-instructions h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.faq-instructions ol {
    list-style-type: decimal;
    padding: 5px 20px;
}
.faq h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
