/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: white;
  }
  
  .navbar-left .logo h1 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  /* Desktop nav links */
  .nav-links {
    display: flex;
    gap: 1.5rem;
  }
  
  /* Hide hamburger button by default */
  .hamburger {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  /* Mobile styles */
  @media (max-width: 768px) {
    .nav-links {
        z-index: 50;
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0;
      background-color: #333;
      padding: 1rem;
      width: 100%;
    }
  
    .nav-links.open {
        width: 100px;
      display: flex;
    }
    .nav-links.open a:hover {
        background-color: #333;
    }
  
    .hamburger {
      display: block;
    }
  
    .navbar-right {
      position: relative;
    }
  }
  
  /* Link styles */
  .nav-links a {
    color: white;
    text-decoration: none;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  