.navbar {
    width: 100%;
    padding: 20px;
    background-color:var(--foreground);
    color: white;
    text-align: center;
}

.navbar .logo h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.navbar h2 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.navbar p {
    font-size: 0.9rem;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo:hover {
    color: #fddd60;
    cursor: pointer;
}